<div class="content">
    <form name="contactForm" ng-submit="sendMessage($event)" noValidate>
        <input type="text" name="name" placeholder="name" ng-required="true" ng-model="contact.name" />
        <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
            <small style="color:red; display:block; text-align: center;">Enter valid name</small>
        </div>
        <input type="email" name="email" placeholder="email" ng-required="true" ng-model="contact.email" />
        <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
            <small style="color:red; display:block; text-align: center;">Enter valid email</small>
        </div>
        <textarea name="message" placeholder="message" ng-required="true" ng-model="contact.message"></textarea>
        <div ng-show="contactForm.message.$touched && contactForm.message.$invalid">
            <small style="color:red; display:block; text-align: center;">Enter valid message</small>
        </div>
        <input type="submit" value="Send" ng-disabled="contactForm.$invalid"/>
    </form>
</div>