<div class="content">
    <button ng-click="order='name'">Order by Name</button>
    <button ng-click="order='belt'">Order by Belt</button>

    <input type="text" ng-model="search" placeholder="Search for a ninja...">

    <ul id="ninja-list">
        <li ng-repeat="
            ninja in ninjas 
            | orderBy:order 
            | filter: search">
            <img ng-src="{{ninja.thumb}}" style={{margin:-12px 10px 0 0; float:left;}} ng-show="{{ninja.thumb}}" />
            <h3> {{ninja.name}} - {{ninja.rate | currency}} </h3>
            <div ng-click="removeNinja(ninja)" class="remove">+</div>
            <span class="belt" style="background:{{ninja.belt}}">{{ninja.belt}} belt</span>
        </li>
    </ul>
    <form action="" ng-submit="addNinja($event)">
        <input type="text" ng-model="newNinja.name" placeholder="name">
        <input type="text" ng-model="newNinja.belt" placeholder="belt">
        <input type="text" ng-model="newNinja.rate" placeholder="rate">
        <input type="submit" value="ADD NEW NINJA" />
    </form>
    <a href="" ng-click="removeAll($event)">Remove all ninjas</a>
</div>