<div id="menu-bar">
<h1>Ninja Directory</h1>
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/directory">List Ninjas</a></li>
    <li><a href="/contact">Contact Ninjas</a></li>
</ul>
</div>